* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

.links-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
  button {
    background: transparent;
    border: 0;
  }
  a {
    text-decoration: none;

  }
  
}

.grid {
  display: grid;
  margin-left: 5rem;
  margin-right: 5rem;
  .productTitle {
    font-size: 40px;
    background-color: hotpink;
  }

  #section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  section {
    max-width: 20rem;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 100%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin: 1rem;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content{
  display: flex;
  flex-direction: row-reverse;
  max-width: 60rem;

  
  
}
